.advantage {
	@include flex-col;
	
	flex: 1 1 30%;
	// margin-right: 1rem;
	padding: 1.2rem;
}
.advantage__text {
	font-size: 1.4rem;
	font-weight: 800;
	text-transform: uppercase;
}


@media screen and (max-width: 768px) {
	.advantage {
		flex: 1 1 45%;
	}
}

@media screen and (max-width: 568px) {
	.advantage {
		flex: 1 1 100%;
	}
}