.advantage {
	@include flex-col;
	
	flex: 1 1 30%;
	// margin-right: 1rem;
	padding: 0 1.2rem 0 0;
}
.advantage__text {
	display: block;
	margin-bottom: 1.2rem;
	
	font-size: 1.4rem;
	font-weight: 800;
	text-transform: uppercase;
}


@media screen and (max-width: 768px) {
	.advantage {
		flex: 1 1 45%;
	}
}

@media screen and (max-width: 568px) {
	.advantage {
		flex: 1 1 100%;
	}
	.advantage__text {
		text-align: center;

	}
}