.btn-holder {
	@include flex-row;

	a {
		width: 220px;

		&:first-child {
			margin-right: 3rem;
		}
	}
}


@media screen and (max-width: 768px) {
	.btn-holder {
		flex-flow: row wrap;

		.btn {
			margin-bottom: 1rem;
		}
	}
}