.burger-bar {
	flex: 0 0 70%;
	height: 2px;
	background-color: #fff;
	display: block;
	// margin-bottom: 7px;

	transition: 400ms;

	&:last-child {
		margin-bottom: 0;
	}
}


.nav-link_mobile {

    &.opened {
    	.burger-bar {

			&:first-child {
				transform: rotate(45deg) translateY(6px) translateX(7px);
			}
			&:last-child {
				transform: rotate(-45deg) translateY(-7px) translateX(8px);
			}

			&:nth-child(2) {
				transform: translateX(-10px);
				opacity: 0
			}
		}
    }
}
