.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;

		@media (max-width: 1200px) {
	    	width: 85%;
		}		
		@media (max-width: 768px)  {
			width: 95%;
		   	padding: 0 2rem;
		}		
}