.contacts {
	@include flex-row;
	justify-content: flex-end;
	align-items: center;
	font-weight: 800;
}

.contacts__tel {
	@include flex-row;
	justify-content: flex-start;
	align-items: center;
	color: $color_font;
	font-size: 1.6rem;
	text-transform: uppercase;
	margin-right: 40px;
}
.contacts__mail {
	@include flex-row;
	justify-content: flex-start;
	align-items: center;
	color: $color_font;
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-right: 40px;
}

.contacts_header {

	.contacts__tel,
	.contacts__mail {
		text-decoration: none;
		color: $color_font;
		transition: 100ms;

		&:hover {
			color: $color_main;
			.icon {
				transform: scale(1.15);
			}			
		}		
	}
}
.contacts_footer {

	.contacts__tel,
	.contacts__mail {
		color: #fff;
		cursor: pointer;
		text-decoration: none;

		&:hover {
			color: $color_main;
			.icon {
				transform: scale(1.15);
			}			
		}
	}
}


@media screen and (max-width: 1100px) {
	.contacts_header{
		flex: 1 1 100%;
		justify-content: center;
	}
}

@media screen and (max-width: 568px) {
	.contacts_header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		a {
			margin-bottom: 1rem;
		}
	}
}