.flex-row {
	display: flex;
	flex-flow: row wrap;

	// change if needed
	justify-content: flex-start;
	align-items: stretch;
}

.col-12 {
	flex: 1 1 100%;
}

.col-6 {
	// background-color: lightgray;
	color: #555;
	padding: 15px;

	flex: 1 1 34%;
	margin-right: 15px;
	margin-bottom: 15px;

	&:nth-child(2n) {
		margin-right: 0;
	}

		@media screen and (max-width: 768px) {
			flex: 1 1 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
}

.col-4 {
	// background-color: lightgray;
	color: #555;
	padding: 15px;

	flex: 1 1 26%;
	margin-right: 15px;
	margin-bottom: 15px;

	&:nth-child(3n) {
		margin-right: 0;
	}

		@media screen and (max-width: 768px) {
			flex: 1 1 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
}

.col-3 {
	// background-color: lightgray;
	color: #555;
	padding: 15px;

	flex: 1 1 18%;
	margin-right: 15px;
	margin-bottom: 15px;

	&:nth-child(4n) {
		margin-right: 0;
	}

		@media screen and (max-width: 960px) {
			flex: 1 1 43%;
			margin-bottom: 15px;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media screen and (max-width: 768px) {
			flex: 1 1 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
}
@media screen and (max-width: 1024px) {
	
}


.col-2 {
	// background-color: lightgray;
	color: #555;
	padding: 15px;

	flex: 1 1 12%;
	margin-right: 15px;
	margin-bottom: 15px;

	&:nth-child(6n) {
		margin-right: 0;
	}

		@media screen and (min-width: 769px) and (max-width: 1024px) {
			flex: 1 1 26%;
			margin-bottom: 15px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		@media screen and (min-width: 569px) and (max-width: 768px) {
			flex: 1 1 40%;
			margin-bottom: 15px;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media screen and (max-width: 568px) {
			flex: 1 1 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
}




// 1024
// 960
// 768
// 568

