.h-text-center {
	text-align: center;
}
.h-uppercase {
	text-transform: uppercase;
}
.h-bg-gray {
	background-color: #eee;
}
.h-full-width {
	width: 100%;
}
.h-stretch {
	margin-left: -2rem;
	margin-right: -2rem;
}

.h-section-margin {
	margin-bottom: 4rem;
}