.logo {
	display: inline-block;
	width: 272px;
	height: 75px;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;

	transition: 200ms;

	&:hover {
		opacity: .75;
	}
}
	.logo_header { background-image: url(/img/logo.PNG); background-size: 272px;}
	.logo_footer { background-image: url(/img/logo_white.PNG);}

/* icon layout */

.icon {
	@include flex-row;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;
	border-radius: 50%;

	transition: 150ms;
}
	.icon:after {
		@include pseudo;
		width: 15px;
		height: 15px;
		background-size: 15px;

		top: 50%;
	    left: 50%;
	    transform: translateY(-50%) translateX(-50%);
	}

/* icon backgrounds */

.icon_tel {	background-color: #fff; }
	.icon_tel:after { background-image: url(/img/icons/icon-phone_black.png); }

.icon_tel-white { background-color: $color_main; }
	.icon_tel-white:after {	background-image: url(/img/icons/icon-phone_white.png);	}

.icon_mail { background-color: #fff; }
	.icon_mail:after { background-image: url(/img/icons/icon-mail_black.png); }

.icon_mail-white { background-color: $color_main; }
	.icon_mail-white:after { background-image: url(/img/icons/icon-mail_white.png); }
.icon_home { background-color: #e3a122; margin: 0 auto; }
	.icon_home:after { background-image: url(/img/icons/icon-home.png); }

/* icon position */

.icon_tel,
.icon_tel-white,
.icon_mail,
.icon_mail-white {
	margin-right: 1.5rem;
}


.icon_home {
	overflow: hidden;
	// &:hover {
	// 	background-color: orange;
	// }
}
.icon_star {
	width: 46px !important;
	height: 46px !important;
	margin-bottom: 2rem;
}
	.icon_star:after { 
		width: 100%;
		height: 100%;
		background-image: url(/img/icons/icon-star_outline.png); 
		background-size: 100%;
		background-repeat: no-repeat;
	}
.icon_loc {
	background-color: transparent;
    margin: 0 0 0 -1.6rem;
	&:after {
		background-image: url(/img/icons/icon-location.png);
	}
}