.nav-link {
	display: inline-block;

	position: relative;

	@include flex-row;
	align-items: center;
	justify-content: flex-start;

	margin: -1.2rem 0 -1.2rem 6rem;
	padding: .5rem 1.5rem .5rem 1.5rem;

	color: #fff;
	text-decoration: none;
	text-transform: uppercase;

	font-size: 1.6rem;

	transition: 100ms;

	&:after {
		@include pseudo;
		left: -3.5rem;
		top: 50%;
		width: 12px;
		height: 12px;
		transform: translateY(-8px);

		background-image: url(/img/icons/icon-star_filled.png);
		background-size: 11px;
		background-position: 50% 50%; 
	}

	&:hover {
		background-color: orange;
	}
}

.nav-link_home {
	flex: 0 0 35px;
	margin: 0 5rem 0 3rem;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
	&:hover {
		transform: scale(1.1);
	}
}



.nav-link:nth-child(2) {
	margin-left: 0;
	padding-left: 1rem;
}

.nav-link:nth-child(1):after,
.nav-link:nth-child(2):after {
	background-image: none;
}