.nav-link {
	display: inline-block;

	position: relative;

	@include flex-row;
	align-items: center;
	justify-content: flex-start;

	margin: -1.2rem 0 -1.2rem 6rem;
	padding: .5rem 1.5rem .5rem 1.5rem;

	color: #fff;
	text-decoration: none;
	text-transform: uppercase;

	font-size: 1.6rem;

	transition: 100ms;

	&:after {
		@include pseudo;
		left: -3.5rem;
		top: 50%;
		width: 12px;
		height: 12px;
		transform: translateY(-8px);

		background-image: url(/img/icons/icon-star_filled.png);
		background-size: 11px;
		background-position: 50% 50%; 
	}

	&:hover {
		background-color: orange;
	}
}

.nav-link_home {
	flex: 0 0 35px;
	margin: 0 5rem 0 3rem;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
	&:hover {
		transform: scale(1.1);
	}
}

.nav-link_mobile {
    // display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-items: center;

    padding: 1rem .5rem;


    position: absolute;
    right: -5rem;
    top: 0;
    width:5rem;
    height: 5rem;
    background-color: #fe5b00;
    opacity: .85;
    color: #fff;

    cursor: pointer;
    transition-delay: 250ms;

    display: none;

    &.opened {
    	opacity: 1;
    }
}



.nav-link:nth-child(2) {
	margin-left: 0;
	// padding-left: 1rem;
}

.nav-link:nth-child(1):after,
.nav-link:nth-child(2):after {
	background-image: none;
}

.nav-link_burger {
    background-color: transparent;
    height: auto;
    display: flex;
        align-items: stretch;
    justify-content: stretch;
}



@media screen and (max-width: 1300px) {
	.nav-link {
		margin: -1.2rem 0 -1.2rem 3rem;
		padding: 2rem 1.5rem 2rem 1.5rem;
		&:after {
			@include pseudo;
			left: -2.2rem;
		}
	}

	.nav-link_home {
		display: none;
	}
}

@media screen and (max-width: 1100px) {
	.nav-link_mobile {
		display: flex;
	}
}