.page-header {
	position: relative;
	z-index: 2;
}
.page-header__top-bar {
	@include flex-row;
	justify-content: space-between;
	align-items: center;

	padding: 3rem 1rem 3rem 0;
}

@media screen and (max-width: 1100px) {
	.page-header__top-bar {
		flex-wrap: wrap;
		justify-content: center;
	}
}