.product-slider-item {
	@include flex-row;
	justify-content: stretch;
	align-items: stretch;

	height: 45%;

	margin-bottom: 2rem;

	text-decoration: none;

	&:hover {
		.product-slider-item__text {
			transform: translateX(.7rem);
		}
	}
}

.product-slider-item__text {
	position: relative;

	flex: 1 1 30%;

	padding: 2.5rem 1rem 2.5rem 2.5rem;

	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;

	background-color: $color_main;

	transition: 300ms;

	&:before {
		@include pseudo;

	    right: -3.5rem;
    	top: 0;

    	height: 100%;
    	width: 3.6rem;

	    background-image: url(/img/bg/edge-category-right.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: left top;
	}
}
.product-slider-item__img {
	flex: 1 1 65%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}