.swiper {}
.swiper-container {}

.swiper-controls-holder {
	position: relative;
}

// hero slider

.swiper-container-main {
	position: relative;
	height: 43rem;
	overflow: hidden;

	margin-bottom: 4rem;

	.swiper-slide {
		background-size: cover;

		.container {
			position: relative;

			height: 100%;

			background-size: cover;
			background-position: 50% 50%;
		}
	}
}


// products\categories slider

.swiper-container-products {
	position: relative;
	height: 27rem;
	overflow: hidden;

	.swiper-slide {
		background-size: cover;

		@include flex-col;

		.container {
			position: relative;

			height: 100%;

			background-size: cover;
			background-position: 50% 50%;
		}
	}
}

// news slider

.swiper-container-news {
	position: relative;
	height: 17rem;
	overflow: hidden;

	margin-bottom: 4rem;
	padding-bottom: 3rem; /*for pagination*/

	.swiper-slide {

		height: 13rem;

		.container {
			position: relative;

			height: 100%;

			background-size: cover;
			background-position: 50% 50%;
		}
	}
}


// SLIDER ARROWS
// =================


// 	ALL ARROWS

.swiper-button_size-l,
.swiper-button_size-s {
	position: absolute;

	top: 50%;
	transform: translateY(-50%);

	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	opacity: .65;
	cursor: pointer;
	z-index: 3;
	transition: all 200ms;

	&:hover {
		opacity: 1;
	}
	
}
		// SMALL ARROWS

		.swiper-button_size-s {
			width: 3.14em;
			height: 9rem;
		}

		// LARGE ARROWS

		.swiper-button_size-l {
			width: 5.1rem;
			height: 16rem;
		}



// HERO SLIDER ARROWS

.hero-slider-btn_next{	
	right: 10rem;	
	background-image: url(/img/swiper/swiper-arrow-right.png);
}

.hero-slider-btn_prev{	
	left: 10rem;	
	background-image: url(/img/swiper/swiper-arrow-left.png);
}

// PRODUCTS SLIDER ARROWS

.products-slider-btn_next{	
	right: -10rem;	
	background-image: url(/img/swiper/swiper-arrow-right_size-s.png);
}

.products-slider-btn_prev{	
	left: -10rem;	
	background-image: url(/img/swiper/swiper-arrow-left_size-s.png);
}

// NEWS SLIDER ARROWS

.news-slider-btn_next{	
	top: 39% !important;
	right: -10rem;	
	background-image: url(/img/swiper/swiper-arrow-right_size-s.png);
}

.news-slider-btn_prev{	
	top: 39% !important;
	left: -10rem;	
	background-image: url(/img/swiper/swiper-arrow-left_size-s.png);
}




.swiper-pagination {
	bottom: -0.2rem !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 1.1rem;
}

.swiper-pagination-bullet {
	background: #595959;
	opacity: 1;	
}
.swiper-pagination-bullet-active {
	background: $color_main;
}
.swiper-button-disabled {opacity: .2 !important;}


