html {
  font-size: 62.5%;
}

h1, h2 { font-size: 3rem; font-family: 'latoheavy' }
h3 { font-size: 2.5rem; }
h4 { font-size: 2.1rem; }
h5 { font-size: 1.9rem; }
h6 { font-size: 1.7rem; }

p {}

a {}
  a:hover {}
  a:visited {}
  a:focus {}

table {}
table tr {}

