// red
$color_main: #fb3231;
$color_main-dark: #7f1312;


$color_font: #242323;
$color_font-dark: #0e0f0f;


// цвета
// ==================

// темно-красный
// #801312

// светло-красный
// №ca2220

// основной красный
// == $color_main
// #fb3231



// супертемно-красный
// #600807

// супертемно-красный светлее
// #951715


// растяжка:
// #a01a18
// #821413

// отзыв
// e5e5e5



// шрифты
// ==============

// заголовки
// #0e0f0f


// подзаголовки
// #7b7b7b

// расшифровка телефонов
// #464646

// код города
// #989898

// body цвет
// 242323